div#menu a {
  letter-spacing: -0.05em;
  text-decoration: none !important;
  display: inline-block;
  width: 100%;

}

/* 
  .popup_menu .m_acco {
    margin-top: 100px;
    background-color: #d7d8da;
  
  }
  
  .popup_menu a {
    padding: 50px 0px 10px 16px;
  }
  
  .popup_menu .m_acco .menuList {
    font-size: 20px;
    color: #e7b038;
    font-weight: bold;
    position: relative;
    border: 1px solid #d7d8da;
    background: yellow;
    text-align: center;
    padding-bottom: 25px;
    width: 30%;
  }
  
  .popup_menu .mypage {
    border: 1px solid wheat;
    display: flex;
  } */

#content {
  /* 틀 삭제 */
  /* border: 1px solid #fff; */
  background-color: rgb(243, 243, 243);
  height: 800px;
  display: flex;
  width: 100%;

}

.mypage {
  /* background: wheat; */
  width: 100%;
  /* position: relative; */
}

.mypage .frame {
  /* border: 1px solid yellow; */
  width: 90%;
  position: relative;
  height: 80%;
  margin: auto;
  margin-top: 80px;

}

.mypage .mypage-info {
  /* border: 1px solid red; */
  /* position: absolute; */

}

.mypage .mypage-info .mypage-id {
  /* background: orange; */
  /* padding: 10px; */
  font-size: 20px;
  font-weight: 700px;
  margin: 30px;
  color: black;
  width: 50%;
}

/* //프로필부터 포인트산정방법 태그 시작 */
.mypage .mypage-info .mybasic-info {
  /* background: orange; */
  position: relative;
  height: 150px;
}

.mypage .mypage-info .mybasic-info .profile-image {
  width: 150px;
  height: 150px;
  /* place-content: center; */
  position: absolute;
  left: 30px;
  top: 20px;
}

.profile-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
}

.mypage .mypage-info .mybasic-info .profile-image p {
  text-align: center;

}

.mypage .mypage-info .mybasic-info .usergrade {
  /* background: red; */
  display: flex;
  position: absolute;
  left: 200px;
  top: 40px;
  font-size: 15px;
  color: black;

}

.mypage .mypage-info .mybasic-info .mypoint {
  display: flex;
  /* background: orchid; */
  /* border: 1px solid blue; */
  width: 50%;
  /* float: right; */
  /* margin-top: 40px; */
  /* position: relative; */
  float: right;
  /* color: black; */

}

.mypage .mypage-info .mybasic-info .mypoint .mycoupon {
  /* background: teal; */
  /* position: absolute; */
  /* float: right; */
  /* color: black; */


}

.mypage .mypage-info .mybasic-info .mypoint .mycoupon p:first-child {
  font-size: 15px;
  color: black;


}

.mypage .mypage-info .mybasic-info .mypoint .mycoupon p:last-child {
  text-align: center;
  padding: 17px;
  color: black;

}


.mypage .mypage-info .mybasic-info .mypoint .myrealpoint {
  /* background: tomato; */
  padding: 0 60px;



}

.mypage .mypage-info .mybasic-info .mypoint .myrealpoint p {
  font-size: 15px;
  margin-bottom: 10px;
  color: black;


}

.mypage .mypage-info .mybasic-info .mypoint .myrealpoint .how-to-get-point li{
  color: black;

}


/* 나의 활동내역 아래 태그 시작 */
.mypage .frame .bottom-info {
  /* border: 1px solid olivedrab; */

}

.mypage .frame .bottom-info .bottom-info-detail {
  /* border: 1px solid brown; */
  height: auto;


}

.mypage .frame .bottom-info .bottom-info-detail .myactive {
  font-size: 18px;
  margin: 30px;
  color: black;

}

.mypage .frame .bottom-info .bottom-info-detail .review-interest {
  /* font-size: 18px; */
  /* background: tan; */
  height: auto;
}

.mypage .frame .bottom-info .bottom-info-detail .review-interest .top-button-tag {
  font-size: 18px;
  display: flex;
  /* background: yellowgreen; */
  width: 80%;
  text-align: center;
  margin: auto;
}

.mypage .frame .bottom-info .bottom-info-detail .review-interest .top-button-tag p {
  width: 50%;
  border: 1px solid gray;
  padding: 10px;
  color: black;

}

.mypage .frame .bottom-info .bottom-info-detail .review-interest .top-button-tag p:hover {
  background: black;
  color: whitesmoke;
}

.mypage .frame .bottom-info .bottom-info-detail .review-interest .mydetail-contents {
  width: 80%;
  border: 1px solid wheat;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  height: 230px;
  position: relative;
  padding-top: 20px;
  
  
  
}

#review-finalBox,
#interest-finalBox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* background: palevioletred; */
  justify-content: space-between;

}

.review-container,
.interest-container {
  width: 200px;
  height: 200px;
  border: 1px solid palevioletred;

  text-align: center;
  position: relative;
}

.review-container img{
  /* position: relative; */

}
.review-box{
  width: 100%;
	vertical-align: middle;
  position: absolute;
  Top : 75px;
  left: auto;
}
 .review-box p{
  /* position: absolute; */
  padding: 5px 10px;
	text-align: center;
  color: white;
  /* background: peru; */


}

/* .interest-box p .interest-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .interest-box p {
  position: relative;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  background: palegreen;
  width: 200px;
  height: 200px;
}

.interest-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
*/
.interest-box p {
  position: relative;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  /* background: palegreen; */
  width: 200px;
  height: 200px;
  overflow: hidden; /* 이미지를 넘어가는 부분은 숨김 처리 */
  color: black;
  /* 추가 스타일을 설정할 수 있습니다. */
}

.interest-box img {
  /* position: absolute; */
  height: 200px;
  margin: auto;
}




