#main {
    overflow: hidden;
}

#content {
    border: 1px solid #fff;
    /* height: auto;
    width: 100%; */
    background-color: #222;
   padding-bottom: 50px;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.sign-up form {
    width: 30%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.sign-up label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.sign-up input[type="text"],
.sign-up input[type="password"],
.sign-up input[type="email"],
.sign-up input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    background-color: #f8f8f8;
    color: #333333;
}

.sign-up #signBtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up button[type="submit"]:hover {
    background-color: #444444;
}

.sign-up .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.sign-up {
    margin-top: 55px;
}

/* 프로필 사진 */

#profile-img {
    display: none;
}

.profile {
    margin-bottom: 30px;
    text-align: center;
}
.profile label {
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
    color: #e7b038;
}
.profile .thumbnail-box {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 10px;
    cursor: pointer;
}

.profile .thumbnail-box img {
    width: 200px;
    height: 200px;
}