<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trifling.things.repository.InterestMapper">

    <!--    <select id="InterestbyUserNum" resultType="int">-->
    <!--        select-->
    <!--        (movie_title, movie_info, movie_runtime, movie_director, movie_genre, movie_age)-->
    <!--        from m_movie-->
    <!--        WHERE movie_num = #{movie_num}-->
    <!--    </select>-->

<!--    <delete id="deletebyMovieNum">-->
<!--        DELETE FROM m_movie-->
<!--        WHERE movie_num = #{movieNum}-->
<!--    </delete>-->

    <select id="movieLikeCount" resultType="int">
        SELECT COUNT(*)
        FROM m_interest
        WHERE movie_num = #{movieNum}
    </select>

</mapper>