<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trifling.things.repository.MovieMapper">

    <select id="movieList" resultType="movie">
<!--        SELECT movie_num, movie_title, movie_info, movie_runtime, movie_director-->
<!--                , movie_genre, movie_age, movie_score-->
        SELECT m.movie_num, m.movie_title, m.movie_score, i.img_url
        FROM m_movie m
        JOIN m_img i
        ON m.movie_num = i.movie_num
        <if test="type == 'title'">
            WHERE m.movie_title LIKE CONCAT('%', #{keyword}, '%')
            AND i.img_name = 'poster'
        </if>
        <if test="type == 'director'">
            WHERE m.movie_director LIKE CONCAT('%', #{keyword}, '%')
            AND i.img_name = 'poster'
        </if>
        <if test="type != 'title' and type != 'director'">
            WHERE i.img_name = 'poster'
        </if>
        ORDER BY m.movie_num DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="movieFindOne" resultType="movie">
        SELECT m.movie_num, m.movie_title, m.movie_info, m.movie_runtime, m.movie_director
        , m.movie_genre, m.movie_age, m.movie_score, i.img_url
        FROM m_movie m
        JOIN m_img i
        ON m.movie_num = i.movie_num
        WHERE m.movie_num = #{movieNum} AND i.img_name = 'poster'
    </select>

    <update id="movieScoreRenew">
        UPDATE m_movie
        SET movie_score = (
                SELECT SUM(rate_score)
                FROM m_rate
                WHERE movie_num = #{movieNum}
        )
        WHERE movie_num = #{movieNum}
    </update>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM m_movie
        <if test="type == 'title'">
            WHERE movie_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'director'">
            WHERE movie_director LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="targetMovieImg" resultType="img">
        SELECT img_num, img_name, img_url
        FROM m_img
        WHERE movie_num = #{movieNum}
    </select>

    <select id="mainTopTenList" resultType="movie">
        SELECT m.movie_num, m.movie_title, m.movie_score, i.img_url
        FROM m_movie m
        JOIN m_img i
        ON m.movie_num = i.movie_num
        WHERE i.img_name = 'poster'
        <if test="type == 'score'">
            ORDER BY movie_score DESC
        </if>
        <if test="type == 'num'">
            ORDER BY movie_num DESC
        </if>
        LIMIT 0, 10
    </select>
</mapper>