<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- reviewMapper.xml -->
<mapper namespace="com.trifling.things.repository.PagingMapper">
    <select id="userPaging" resultType="pagingReview">
        SELECT *
        FROM m_rate
        <if test="type == 'userNum'">
            WHERE user_num = #{keyword}
        </if>
        <if test="type == 'movieNum'">
            WHERE movie_num = #{keyword}
        </if>
        <if test="type == 'userNum' or type == 'movieNum'">
            ORDER BY rate_num DESC
        </if>
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM m_rate
    </select>
</mapper>
