<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trifling.things.repository.RateMapper">


    <insert id="rateWrite">
        INSERT INTO m_rate
            (user_num, movie_num, rate_review, rate_score, user_id)
        VALUES
            (#{userNum}, #{movieNum}, #{rateReview}, #{rateScore}, #{userId})
    </insert>

    <update id="rateModify">
        UPDATE m_rate
        SET rate_review = #{rateReview}
            , rate_date = #{rateDate}, rate_score = #{rateScore}
        WHERE rate_num = #{rateNum}
    </update>

    <delete id="rateDelete">
        DELETE FROM m_rate
        WHERE rate_num = #{rateNum}
    </delete>

    <select id="rateList" resultType="rate">
        SELECT rate_num, user_num, movie_num, rate_review
        , rate_score, rate_date, rate_like, user_id
        FROM m_rate
        <if test="type == 'users'">
            WHERE user_num = #{target}
        </if>
        <if test="type == 'movies'">
            WHERE movie_num = #{target}
        </if>
        ORDER BY rate_num
        LIMIT #{page.pageStart}, #{page.amount}
    </select>

<!--    <select id="rateFindOne" resultType="rate">-->
<!--        SELECT r.rate_num, r.user_num, r.movie_num, r.rate_review-->
<!--            , r.rate_score, r.rate_date, r.rate_like, r.user_id-->
<!--        FROM m_rate r-->
<!--        JOIN m_user u ON r.user_num = u.user_num-->
<!--        JOIN m_movie m ON r.movie_num = m.movie_num-->
<!--        WHERE u.user_num = #{userNum} AND m.movie_num = #{movieNum}-->
<!--    </select>-->

    <select id="rateFindOne" resultType="rate">
        SELECT rate_num, user_num, movie_num, rate_review
        , rate_score, rate_date, rate_like, user_id
        FROM m_rate
        WHERE rate_num = #{rateNum}
    </select>

    <select id="countScore" resultType="int">
        SELECT COUNT(*)
        FROM m_rate
        WHERE movie_num = #{movieNum}
    </select>

    <select id="insertBeforeCheck" resultType="int">
        SELECT COUNT(*)
        FROM m_rate
        WHERE movie_num = #{movieNum} AND user_num = #{userNum}
    </select>
</mapper>