<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trifling.things.repository.UserMapper">

    <insert id="save" parameterType="User">
        INSERT INTO m_user
        (user_id, user_password, user_email, user_gender, user_age)
        Values
        (#{userId}, #{userPassword}, #{userEmail} ,#{userGender}, #{userAge})
    </insert>

    <select id="findUser" resultType="user">
        select
        user_id, user_password, user_email, user_gender, user_age
        from m_user
        WHERE user_id = #{userId}
    </select>

    <update id="modify">
        UPDATE m_user
        SET user_password= #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM m_user
        <if test="type == 'userid'">
            WHERE user_id = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE user_email = #{keyword}
        </if>
    </select>

    <select id="myReviewList" resultType="review">
        SELECT  user_num, rate_num, movie_num, rate_review
        , rate_score, rate_date, rate_like
        FROM m_rate
        WHERE user_num = #{userNum}
    </select>


    <select id="myInfo" resultType="MyInfoResponseDTO">
        SELECT mu.user_num, mu.user_id, mu.user_point, mu.user_grade,
        mm.movie_num, mm.movie_title, mr.rate_review
        FROM m_user mu
        JOIN m_rate mr ON mu.user_num = mr.user_num
        JOIN m_movie mm ON mr.movie_num = mm.movie_num
        where mu.user_num = #{userNum};
    </select>

    <select id="interestList" resultType="Interest">
        SELECT m_movie.movie_num, m_movie.movie_title, m_movie.movie_info, m_img.img_url
        FROM m_movie
        INNER JOIN m_img ON m_movie.movie_num = m_img.movie_num
        INNER JOIN m_interest ON m_movie.movie_num = m_interest.movie_num
        where m_movie.movie_num  = #{movieNum};
    </select>
</mapper>