<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trifling.things.repository.UserMapper">

    <insert id="save">
        INSERT INTO m_user
        (user_id, user_password, user_email, user_gender, user_age)
        Values
        (#{userId}, #{userPassword}, #{userEmail} ,#{userGender}, #{userAge})
    </insert>

    <select id="findUser" resultType="user">
        select
        user_id, user_password, user_email, user_gender, user_age
        from m_user
        WHERE user_id = #{userId}
    </select>

    <update id="modify">
        UPDATE m_user
        SET user_password= #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM m_user
        <if test="type == 'userid'">
            WHERE userId = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE userEmail = #{keyword}
        </if>
    </select>


</mapper>